/* App.css */

body:not(.register-page,), html:not(.register-page)  {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
  color: #333;
}

.o-nama-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 10px;
  background-color: white;
  margin-left: 100px;
  margin-bottom: 20px;
}

.o-nama {
  flex: 1;
  color: #333;
  text-align: left;
}

.o-nama h1 {
  font-size: 32px;
  margin-bottom: 0px;
  color: #F4C542;
  gap: 20px;
}

.o-nama p {
  font-size: 18px;
  line-height: 1.6;
}

.fixed-logo {
  position: sticky;
  top: 100px; /* fiksira se dok se tekst skroluje */
  bottom: 100px;
  width: 350px;
  height: auto;
  margin-right: 0px;
  
}
.dogadjaji-wrap {
  padding: 20px 20px;
  background-color: white;
  text-align: center;
}

.dogadjaji h2 {
  font-size: 32px;
  color: #F4C542;
  margin-bottom: 40px;
}

.dogadjaj {
  margin-bottom: 40px;
}

.dogadjaj h3 {
  font-size: 32px;
  margin-bottom: 20px;
  color:#F4C542;
}

.dogadjaj img {
  width: 30%;
  max-width: 500px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.dogadjaj img:hover {
  transform: scale(1.05) translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}



.app {
  text-align: center;
}

body:not(.register-page):not(.poslastice-page):not(.palacinke-page) .header {
background-image: url('/public/images/njamnjam1.png');
background-size: contain;
background-repeat: no-repeat;
background-position: left;
color: white;
padding: 150px;
height: 335px; 
  width: 77%;
  margin-top: 10px;
  margin-bottom: 0px;
}


.nav {
  position: fixed;            
  top: 0;                     
  left: 0;
  width: 97%;                
  background-color: rgba(0, 0, 0, 0.7); 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 20px 40px;
  z-index: 1000;              
  backdrop-filter: blur(10px); 
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

.nav-links {
  align-items: center;
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  
  padding: 1rem;
  color: white;
  text-decoration: none;
  font-weight: 500;
}


.hero h2 {
  font-size: 40px;
  margin: 20px 0 0px;
  justify-content: center;
}

.hero p {
  font-size: 18px;
  margin-bottom: 20px;
}

.button {
  background-color: #333;
  color: white;
  padding: 12px 24px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

.button:hover {
  background-color: #333;
}

 .gallery, .contact {
  padding: 60px 20px;
}

.gallery h2, .contact h2 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #d03f3f;
}


.gallery-images {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.gallery-images img {
  width: 250px;
  height: auto;
  border-radius: 15px;
}

.contact form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact input, .contact textarea {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.contact button {
  padding: 12px;
  background-color: #ff6961;
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.contact button:hover {
  background-color: #333;
}
.container {
  padding: 20px;
  font-family: sans-serif;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-title {
  padding: 15px;
  font-size: 1.2rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #F4C542;
}

.card-description {
  font-size: 0.9rem;
  font-family: 'Times New Roman', Times, serif;
  color: #666;
  padding: 0 15px 10px;
}

.card-price {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 12px;
  color: #fcd34d;

}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  margin-bottom: 10px;
}


.card button {
  align-self: center;
  background-color:#fcd34d ; /* žuta */
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
  position: relative;
  margin-bottom: 20px;
}

.card button:hover {
  background-color:  #c7990f;
}

/* Dugme za pregled korpe */
.naruci-btn-fix {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s;
  z-index: 1000;
}

.naruci-btn-fix:hover {
  background-color: #c7990f;
}







.naruci-btn-fix {
  position: fixed;  /* fiksira dugme u viewportu */
  bottom: 20px;     /* 20px od dna ekrana */
  right: 20px;      /* 20px od desnog ruba */
  padding: 12px 24px;
  font-size: 18px;
  background-color: #F4C542;
  color: #333;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  z-index: 1000;   /* da je iznad ostalih elemenata */
}

.naruci-btn:hover {
  background-color:#c7990f;
}


.footer {
  position: fixedcc;    
  width: 97%;                
  background-color: rgba(0, 0, 0, 0.7); 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 20px 40px;
  z-index: 1000;              
  backdrop-filter: blur(10px); 
}
.guest-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
}

.guest-container h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
}

.guest-container hr {
  margin: 10px 0 20px;
  border: none;
  border-top: 2px solid #facc15; /* žuta linija */
}

.cart-list {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 16px;
  margin-top: 20px;
}

.cart-card {
  background-color:#facc15;
  border: 1px solid #333;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.item-name {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  position: relative;
}

.item-price {
  font-size: 20px;
  font-weight: bold;
  color: #1f2937;
}

.cart-card button {
  align-self: flex-end;
  background-color: #fcd34d; /* crvena */
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.cart-card button:hover {
  background-color:#c7990f;
}




