/* App.css */

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff8f0;
  color: #333;
}

.app {
  text-align: center;
}

.header {
background-image: url('/public/images/slikica.jpg');
height: 120%;
width: 47%;
margin-top: 20px;
  background-size:cover;
  background-position: center;
  color: white;
  padding: 400px;
  
}

.nav {
  position: fixed;            
  top: 0;                     
  left: 0;
  width: 97%;                
  background-color: rgba(0, 0, 0, 0.7); 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 20px 40px;
  z-index: 1000;              
  backdrop-filter: blur(10px); 
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

.nav-links {
  align-items: center;
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  
  padding: 1rem;
  color: white;
  text-decoration: none;
  font-weight: 500;
}


.hero h2 {
  font-size: 40px;
  margin: 20px 0 10px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 20px;
}

.button {
  background-color: #ff6961;
  color: white;
  padding: 12px 24px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

.button:hover {
  background-color: #ff4c4c;
}

 .gallery, .contact {
  padding: 60px 20px;
}

.gallery h2, .contact h2 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #d03f3f;
}


.gallery-images {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.gallery-images img {
  width: 250px;
  height: auto;
  border-radius: 15px;
}

.contact form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact input, .contact textarea {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.contact button {
  padding: 12px;
  background-color: #ff6961;
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.contact button:hover {
  background-color: #ff4c4c;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  font-size: 14px;
}
